process {
    withName: 'CELLRANGER_COUNT' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:cellranger_8.0.0'
	}
	withName: 'CELLRANGER_MKREF' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:cellranger_8.0.0'
	}
	withName: 'CELLRANGER_MKVDJREF' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:cellranger_8.0.0'
	}
	withName: 'CELLRANGER_MULTI' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:cellranger_8.0.0'
	}
	withName: 'CELLRANGERARC_COUNT' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:cellranger-arc_2.0.2'
	}
	withName: 'SIMPLEAF_QUANT' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:simpleaf_0.10.0'
	}
	withName: 'STAR_ALIGN' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:star_2.7.10b'
	}
	withName: 'STAR_GENOMEGENERATE' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:star_2.7.10b'
	}
	withName: 'ALEVINQC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:bioconductor-alevinqc_1.12.1'
	}
	withName: 'CELLRANGER_MKGTF' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:cellranger_8.0.0'
	}
	withName: 'CELLRANGERARC_MKGTF' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:cellranger-arc_2.0.2'
	}
	withName: 'GFFREAD' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:gffread_0.12.1'
	}
	withName: 'GFFREAD_TRANSCRIPTOME' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:gffread_0.12.7'
	}
	withName: 'GTF_GENE_FILTER' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:python_3.9'
	}
	withName: 'PARSE_CELLRANGERMULTI_SAMPLESHEET' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:python_3.9'
	}
	withName: 'CELLRANGERARC_MKREF' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:cellranger-arc_2.0.2'
	}
	withName: 'CONCAT_H5AD' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:scanpy_1.7.2'
	}
	withName: 'EMPTYDROPS_CELL_CALLING' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:bioconductor-dropletutils_1.18.0'
	}
	withName: 'FASTQC' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:fastqc_0.12.1'
	}
	withName: 'KALLISTOBUSTOOLS_COUNT' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:kb-python_0.28.2'
	}
	withName: 'KALLISTOBUSTOOLS_REF' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:kb-python_0.28.2'
	}
	withName: 'MTX_TO_H5AD' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:scanpy_1.7.2'
	}
	withName: 'MTX_TO_SEURAT' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:seurat_4.3.0'
	}
	withName: 'SIMPLEAF_INDEX' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:simpleaf_0.10.0'
	}
	withName: 'UNIVERSC' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:universc_1.2.5.1'
	}
	withName: 'GUNZIP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:ubuntu_22.04'
	}
	withName: 'MULTIQC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:multiqc_1.23'
	}
	withName: 'UNZIP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore_scrnaseq_awscli:p7zip_16.02'
	}

}
